@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input {
    position: relative;
    width: 80%;
    margin: 10px;
}

.input > input {
    border: 1px solid #d1d1d1;
    width: 300px;
    height: 6vh;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.labelline {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.input > input:focus + .labelline,
.input > input:valid + .labelline {
    transform: translateY(-150%);
    font-size: 0.8em;
    color: white;
    z-index: 10;
    /* background: rgb(117, 117, 117); */
    background: #0e1117e5;
    padding: 0 5px;
}

.input > input:focus,
.input > input:valid {
    color: rgb(107, 107, 107);
    border: 2px solid rgb(102, 102, 102);
}

.glass {
    background: linear-gradient(24deg, rgba(185, 185, 185, 0.226), rgba(124, 124, 124, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px; /* Specify the border-radius value */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
.glass2 {
    background: linear-gradient(198deg, rgba(185, 185, 185, 0.226), rgba(124, 124, 124, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px; /* Specify the border-radius value */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}


.switch {
    position: relative;
    width: 35px;
    height: 15px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .switch.on {
    background-color: yellow;
  }
  
  .switch .slider {
    position: absolute;
    width: 15px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    top: 1.1px;
    left: 1px;
    transition: transform 0.3s;
  }
  
  .switch.on .slider {
    transform: translateX(16px);
  }
  